.main__element{
    
    margin: 50px auto;
    max-width: 1440px;
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: space-between;
}
.block__add{
    width: 100%;

}
.addBoard{
    gap: 12px;
    width: 300px;
    height: 100px;
    background-color: rgb(151, 14, 151);
    color: aliceblue;
    display: flex;
    align-items: center;
    border: none;
    cursor: pointer;
    justify-content:center;
    font-size: 26px;
}
.create__board{
    width: 300px;
    height: 200px;
    background-color: rgb(41, 36, 36);
    border-radius: 6px;
    
}
.create__board form{
    padding: 20px;
}
.create__board form h3{
    color: white;
    font-size: 23px;
}
.button__form{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}
.create__board form input{
    height: 50px;
    width: 100%;
    margin-top: 15px;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid;
    color: white;
    font-size: 14px;
    &:focus{
        outline: none;
    }
}
.button__form button{
   
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    
    cursor: pointer;
    &:hover{
        background-color: #2c2c2c;
    }
    &:active{
        translate: 0 2px;
    }
}
.my__board{
    color: #fff;
    background-color: #C51F5D;
    border: 1px solid #243447;
    width: 240px;
    height: 80px;
    flex-direction: column;
    margin: 5px auto;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    border-radius: 12px;


}
.block__board{
    max-width: 1440px;
    width: 100%;
    height: 50vh;
    display: flex;
    
}